<!DOCTYPE html>
<html>
<head>
  <title>GitOrganized</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.currentUser = {
        id: "<%= current_user.id %>"
      }
    </script>
  <% end %>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
